/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");


/* Create some Bowfolio CSS variables. */
:root {
  --bowfolio-navbar-bg: #024731;
  --bowfolio-navbar-bg-rgb: 2,71,49;
  --bowfolio-navbar-text: white;
  --bowfolio-navbar-highlight-text: var(--bs-gray-500);
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--bowfolio-navbar-bg);
  --bs-dark-rgb: var(--bowfolio-navbar-bg-rgb);
}

/* Color the light Brand and links with dark color */
.bg-light span, .bg-light a {
  color:  var(--bowfolio-navbar-bg);
}

/* When logged in we switch the NavBar to bg-dark so we need to override the styles to give light text. */
.bg-dark span, .bg-dark a {
  color: var(--bowfolio-navbar-text);
}

/* When logged in we highlight the selected route. */
.bg-dark a.nav-link.active {
  color: var(--bowfolio-navbar-highlight-text);
}

/* Override the color on the dropdown when logged in. */
.bg-dark a.dropdown-item {
  color: var(--bowfolio-navbar-bg);
}

/* Landing page color blocking */
.landing-green-background {
  /* Correct syntax for a linear gradient background */
  background: linear-gradient(to bottom, #024731, #56ab2f);
  object-fit: cover;
  /* Continue with the rest of your styles */
}
.custom-padding {
  padding: 20px; /* Adjust the padding as needed */
}
.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.carousel img {
  width: 100%; /* Makes the image responsive */
  height: 500px; /* Adjust the height as needed */
  object-fit: contain; /* Ensures the image covers the area without stretching */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-caption-custom {
  position: absolute;
  top: 1px;  /* Center vertically */
  transform: translate(345px,20px); /* Adjust to exact center */
  width: 15%; /* Width can be auto, or you can specify a width */
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional styling */
  color: white; /* Text color */
  padding: 10px; /* Padding around text */
  text-align: center; /* Center-align the text */
  border-radius: 10px; /* Optional styling for rounded corners */
}

